# On Linux Ubuntu/Debian: run this, to support PyGObject, used in wifi.py
# sudo apt-get install -y network-manager gir1.2-nm-1.0 libcairo2-dev libgirepository-2.0-dev gobject-introspection
scapy
netifaces2
netfilterqueue; sys_platform == 'linux'
PyGObject; sys_platform == 'linux' # provides libnm bindings for wifi.py, also requires the system 'network-manager' / 'gir1.2-nm-1.0' package
pydivert; sys_platform == 'win32'
requests
flask
matplotlib
python-nmap # must install nmap separately on the system
pyside6