# Ignore build outputs and artifacts
build/
compile_commands.json
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Ignore device-dependent data
game/user_data
# Ignore platfrom-dependent data
game/dist
*.spec